In [279]:
import numpy as np
import pandas as pd
import datetime
import time

In [280]:
loc = 'C:\Users\Thosan Girisona S\Downloads\DataMining\Electricity Load\Electricity Load\LD2011_2014.txt'
%time data = pd.read_csv(loc,delimiter=';',header=0,decimal=',',low_memory=False)

Wall time: 1min 4s

In [281]:
data.index = pd.to_datetime(data.pop('Waktu'))
data.head()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
Waktu,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [282]:
holidays = ['2011-01-01','2011-04-25', '2011-05-01','2011-06-01','2011-06-10','2011-07-15','2011-08-15','2011-12-08','2011-12-25']
holidays.extend(['2012-01-01','2012-04-25', '2012-05-01','2012-06-01','2012-06-10','2012-07-15','2012-08-15','2012-12-08','2012-12-25'])
holidays.extend(['2013-01-01','2013-04-25', '2013-05-01','2013-06-01','2013-06-10','2013-07-15','2013-08-15','2013-12-08','2013-12-25'])
holidays.extend(['2014-01-01','2014-04-25', '2014-05-01','2014-06-01','2014-06-10','2014-07-15','2014-08-15','2014-12-08','2014-12-25'])

cal_portu = pd.to_datetime(holidays)
print data['MT_001'].index[0] in (cal_portu)
#days_portu = cal_portu.holidays(start='2011-01-01', end='2015-01-01')

False

In [283]:
def format_jam23(tanggal, tanggal2):
    #resample yang 23 Jam
    #(total/92*96 - total)/4
    #jadiin fungsi parameter tanggal

    t1 = pd.to_datetime(tanggal)
    t2 = pd.to_datetime(tanggal2)

    cek23Jam = data[(t1 <= data.index) & (t2 > data.index)].ix[:,3:370]
    cek23JamTot = cek23Jam.resample('D',how=['sum'])
    cek23Jam = cek23JamTot/92*96
    cek23Jam = cek23Jam-cek23JamTot
    cek23Jam = cek23Jam/4

    ganti23jam = cek23Jam
    ganti23jam.columns = ganti23jam.columns.droplevel(1)
    ganti23jam = ganti23jam.ix[0]

    t1 = pd.to_datetime(tanggal + ' 01:00:00')
    t2 = pd.to_datetime(tanggal + ' 01:15:00')
    t3 = pd.to_datetime(tanggal + ' 01:30:00')
    t4 = pd.to_datetime(tanggal + ' 01:45:00')
    
    data.loc[t1,'MT_004':'MT_370'] = ganti23jam
    data.loc[t2,'MT_004':'MT_370'] = ganti23jam
    data.loc[t3,'MT_004':'MT_370'] = ganti23jam
    data.loc[t4,'MT_004':'MT_370'] = ganti23jam

def format_jam25(tanggal, tanggal2):
    #resample yang 23 Jam
    #(total - total/100*96)/4
    #jadiin fungsi parameter tanggal

    t1 = pd.to_datetime(tanggal)
    t2 = pd.to_datetime(tanggal2)

    cek25Jam = data[(t1 <= data.index) & (t2 > data.index)].ix[:,3:370]
    cek25JamTot = cek25Jam.resample('D',how=['sum'])
    cek25Jam = cek25JamTot/100*96
    cek25Jam = cek25JamTot-cek25Jam
    cek25Jam = cek25Jam/4

    ganti25jam = cek25Jam
    ganti25jam.columns = ganti25jam.columns.droplevel(1)
    ganti25jam = ganti25jam.ix[0]

    t1 = pd.to_datetime(tanggal + ' 01:00:00')
    t2 = pd.to_datetime(tanggal + ' 01:15:00')
    t3 = pd.to_datetime(tanggal + ' 01:30:00')
    t4 = pd.to_datetime(tanggal + ' 01:45:00')
    
    data.loc[t1,'MT_004':'MT_370'] = ganti25jam
    data.loc[t2,'MT_004':'MT_370'] = ganti25jam
    data.loc[t3,'MT_004':'MT_370'] = ganti25jam
    data.loc[t4,'MT_004':'MT_370'] = ganti25jam

In [284]:
#23jam(27,25,31,30) Maret
format_jam23('2011-03-27', '2011-03-28')
format_jam23('2012-03-25', '2012-03-26')
format_jam23('2013-03-31', '2013-04-01')
format_jam23('2014-03-30', '2014-03-31')

#25jam(30,28,27,26) Oktober
format_jam25('2011-10-30', '2011-11-01')
format_jam25('2012-10-28', '2012-10-29')
format_jam25('2013-10-27', '2013-10-28')
format_jam25('2014-10-26', '2014-10-27')

In [285]:
start_time = time.time()
langganan = pd.Series()

for i in data.columns:
    for j in range(0,len(data[i])-1):
        if(data[i][j] > 0):
            langganan[i]=data[i].index[j]
            break
        else:
            continue
print("--- %s seconds ---" % (time.time() - start_time))

--- 360.90199995 seconds ---

In [292]:
langganan.sort()
langganan.tail()

MT_109   2014-02-18 00:15:00
MT_116   2014-02-18 00:15:00
MT_181   2014-03-05 00:15:00
MT_133   2014-03-13 16:15:00
MT_178   2014-07-18 00:15:00
dtype: datetime64[ns]

In [196]:
#resample pelanggan
start_time = time.time()
mthWeekendPagi = pd.DataFrame()
mthWeekendMlm  = pd.DataFrame()
mthWeekdayPagi = pd.DataFrame()
mthWeekdayMlm  = pd.DataFrame()

dataKhusus = pd.DataFrame(columns=['std','qrt1','qrt3','itQ','bukanOutlier'],index=data.columns)
dataRata = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataSkew = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataKurt = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataStd = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)

for i in data.columns:
    mth  = pd.DataFrame()
    mth  = data[i][data.index >= langganan[i]]
    mth  = mth.resample('H',how = ['sum'])
    
    mthWeekendPagi = mth['sum'][(mth.index.weekday >= 5) & (mth.index.weekday <= 6)].between_time(datetime.time(7,0),datetime.time(20,0))
    mthWeekendMlm  = mth['sum'][(mth.index.weekday >= 5) & (mth.index.weekday <= 6)].between_time(datetime.time(20,0),datetime.time(7,0))
    mthWeekdayPagi = mth['sum'][(mth.index.weekday >= 0) & (mth.index.weekday <= 4)].between_time(datetime.time(7,0),datetime.time(20,0))
    mthWeekdayMlm  = mth['sum'][(mth.index.weekday >= 0) & (mth.index.weekday <= 4)].between_time(datetime.time(20,0),datetime.time(7,0))

    dataRata['Weekend-Pagi'][i]  = mthWeekendPagi.mean()
    dataRata['Weekend-Malam'][i] = mthWeekendMlm.mean()
    dataRata['Weekday-pagi'][i]  = mthWeekdayPagi.mean()
    dataRata['Weekday-Malam'][i] = mthWeekdayMlm.mean()

    dataSkew['Weekend-Pagi'][i]  = mthWeekendPagi.skew()
    dataSkew['Weekend-Malam'][i] = mthWeekendMlm.skew()
    dataSkew['Weekday-pagi'][i]  = mthWeekdayPagi.skew()
    dataSkew['Weekday-Malam'][i] = mthWeekdayMlm.skew()

    dataKurt['Weekend-Pagi'][i]  = mthWeekendPagi.kurtosis()
    dataKurt['Weekend-Malam'][i] = mthWeekendMlm.kurtosis()
    dataKurt['Weekday-pagi'][i]  = mthWeekdayPagi.kurtosis()
    dataKurt['Weekday-Malam'][i] = mthWeekdayMlm.kurtosis()
    
    dataStd['Weekend-Pagi'][i]  = mthWeekendPagi.var()**(.5)
    dataStd['Weekend-Malam'][i] = mthWeekendMlm.var()**(.5)
    dataStd['Weekday-pagi'][i]  = mthWeekdayPagi.var()**(.5)
    dataStd['Weekday-Malam'][i] = mthWeekdayMlm.var()**(.5)
    
    dataKhusus['mean'][i]  = mth['sum'].mean()
    dataKhusus['std'][i]  = mth['sum'].var()
    dataKhusus['qrt1'][i] = mth['sum'].quantile(0.25)
    dataKhusus['qrt3'][i] = mth['sum'].quantile(0.75)
    dataKhusus['itQ'][i]  = dataKhusus['qrt3'][i] - dataKhusus['qrt1'][i]
    
    btBwah = dataKhusus['qrt1'][i] - (1.5*dataKhusus['itQ'][i])
    btAtas = dataKhusus['qrt3'][i] + (1.5*dataKhusus['itQ'][i])
    totalData = len(mth['sum'])
    bukanOutlier = len(mth['sum'][ (mth['sum']>=btBwah) & (mth['sum']<=btAtas) ])
    
    dataKhusus['bukanOutlier'][i] = float(bukanOutlier)/float(totalData)
    
print("--- %s seconds ---" % (time.time() - start_time))

--- 99.3190000057 seconds ---

In [118]:
listAntiOutlier = dataKhusus[dataKhusus['bukanOutlier'] >= 0.95].index

dataRata = dataRata[dataRata.index.isin(listAntiOutlier)]
dataSkew = dataSkew[dataSkew.index.isin(listAntiOutlier)]
dataKurt = dataKurt[dataKurt.index.isin(listAntiOutlier)]
dataKhusus = dataKhusus[dataKhusus.index.isin(listAntiOutlier)]

False

In [278]:
dataKhusus.sort('std').tail(20)

                 std      qrt1      qrt3       itQ bukanOutlier
MT_103       6509434  1572.881   6606.78  5033.898            1
MT_276       7658992  5022.871  9973.168  4950.297            1
MT_241       8990581   7456.79  12444.44  4987.654            1
MT_216       9036239  5803.987  11102.99  5299.003            1
MT_099       9567083  1507.812  6828.125  5320.312    0.9997719
MT_345    1.1823e+07  4599.034  11251.21  6652.174            1
MT_194  1.294193e+07  8050.847  12758.47  4707.627    0.9905319
MT_351  1.446296e+07  2684.444  9324.444      6640    0.9991637
MT_224   1.71325e+07  10275.07  16161.01  5885.942     0.998876
MT_357  1.832707e+07  2689.394  11431.82  8742.424            1
MT_220  2.346821e+07  6443.038  15075.95  8632.911            1
MT_363  4.313707e+07  3637.131   14717.3  11080.17            1
MT_339  5.343896e+07  5186.992  17213.01  12026.02    0.9987835
MT_228  6.049858e+07  15157.89  29368.42  14210.53            1
MT_208  6.766138e+07  18907.56  31579.83  12672.27    0.9990589
MT_364  9.480005e+07  6454.545  24704.55     18250            1
MT_279  1.442935e+08  38026.67  57326.67     19300     0.999287
MT_370  2.566486e+08  61124.32  80810.81  19686.49     0.973175
MT_196  8.375025e+08  60958.33    100750  39791.67    0.9901041
MT_362  2.132813e+10     69400    267700    198300    0.9873788

In [122]:
import matplotlib.pyplot as plt
ax1 = plt.subplot(2,1,1)
dataRata['Weekend-Pagi'].plot()
dataRata['Weekend-Malam'].plot()
dataRata['Weekday-pagi'].plot()
dataRata['Weekday-Malam'].plot()

ax2 = plt.subplot(2,1,2,sharex=ax1)
dataKhusus['std'].plot()
plt.legend()
plt.show()

In [125]:
plot1 = data['MT_362'].resample('D',how = ['mean'])
plot2 = data['MT_001'].resample('D',how = ['mean'])

ax1 = plt.subplot(2,1,1)
plot1['mean'].plot()
plt.legend()

ax2 = plt.subplot(2,1,2,sharex=ax1)
plot2['mean'].plot()
plt.legend()

plt.show()

In [134]:
plot1 = data['MT_364']['2012'].resample('D',how = ['mean'])
plot1.index = range(0,len(plot1.index))
plot2 = data['MT_364']['2013'].resample('D',how = ['mean'])
plot2.index = range(0,len(plot2.index))
plot3 = data['MT_364']['2014'].resample('D',how = ['mean'])
plot3.index = range(0,len(plot3.index))

ax1 = plt.subplot(1,1,1)
plot1['mean'].plot()
plot2['mean'].plot()
plot3['mean'].plot()

plt.legend()
plt.show()

In [224]:
frames = [dataRata, dataSkew, dataKurt, dataStd]
dataClean = pd.concat(frames, keys=['Rata', 'Skew', 'Kurt','Std'])
dataClean = dataClean.unstack(level=0)

dataClean.head()

       Weekend-Pagi                                 Weekend-Malam             \
               Rata       Skew       Kurt       Std          Rata       Skew
MT_001     19.14298   1.541562  0.9200817  24.97187      18.90478   1.708744
MT_002     124.1567  -0.242466  0.9481916  22.22366      99.85654  0.9145725
MT_003     13.66759   7.673244   58.84867  37.15649      19.59911   6.043886
MT_004     477.1488   1.096256     1.2528  145.5208      441.1162  0.8435581
MT_005     181.8164  0.9587032  0.7516072  66.89315      202.2523    0.62542

                             Weekday-pagi                                  \
              Kurt       Std         Rata       Skew       Kurt       Std
MT_001    1.265754  21.42347     22.91395   1.263211  0.2824135  25.65956
MT_002    2.214664  22.02747     119.9964 -0.3453535   2.026254  23.00347
MT_003    39.25684  63.87814     12.91913   8.995822   88.27877  37.29147
MT_004   0.2791051   161.702     427.6438   1.882952   3.654291  150.2328
MT_005  0.02662303  69.91622     196.2766   1.230563   1.775504  70.29184

       Weekday-Malam
                Rata       Skew        Kurt       Std
MT_001      20.55724   1.529977   0.6612088  22.62076
MT_002      102.3256  0.3052408    1.298272  26.72081
MT_003      17.94628   6.416822     44.3046  57.69975
MT_004      448.6385   1.018353   0.5736562  171.7097
MT_005      211.6283  0.6638265  0.07264046   73.8792

In [231]:
import sklearn
from scipy.spatial.distance import cdist,pdist
from sklearn.cluster import KMeans

In [266]:
hpc = dataClean.values
kmeans = KMeans()
kmeans.fit(hpc)

KMeans(copy_x=True, init='k-means++', max_iter=300, n_clusters=8, n_init=10,
    n_jobs=1, precompute_distances=True, random_state=None, tol=0.0001,
    verbose=0)

In [272]:
#menentukan explained varians , makin besar maik baik
k_range = range(1,10)
k_means_var = [KMeans(n_clusters=k).fit(hpc) for k in k_range]
centro = [X.cluster_centers_ for X in k_means_var]
k_euclid = [cdist(hpc,cent,'euclidean') for cent in centro]
dist = [np.min(ke,axis=1) for ke in k_euclid]
wcss = [sum(d**2) for d in dist]
tss = sum(pdist(hpc)**2)/hpc.shape[0]
bss = tss - wcss

pp = pd.Series(100*bss/tss)
          
ax1 = plt.subplot(1,1,1)
pp.plot()

for i,j in zip(pp.index,pp):
    ax1.annotate(str(j),xy=(i,j))
plt.scatter(pp.index,pp)
plt.grid()
plt.legend()
plt.show()

In [277]:
from sklearn.metrics import silhouette_samples, silhouette_score
import matplotlib.cm as cm

X = hpc
y = hpc
range_n_clusters = [2, 3, 4, 5, 6]

for n_cluster in range_n_clusters:
    # Create a subplot with 1 row and 2 columns
    fig, (ax1, ax2) = plt.subplots(1, 2)
    fig.set_size_inches(18, 7)

    # The 1st subplot is the silhouette plot
    # The silhouette coefficient can range from -1, 1 but in this example all
    # lie within [-0.1, 1]
    ax1.set_xlim([-0.1, 1])
    # The (n_clusters+1)*10 is for inserting blank space between silhouette
    # plots of individual clusters, to demarcate them clearly.
    ax1.set_ylim([0, len(X) + (n_clusters + 1) * 10])

    # Initialize the clusterer with n_clusters value and a random generator
    # seed of 10 for reproducibility.
    clusterer = KMeans(n_clusters=n_cluster)
    cluster_labels = clusterer.fit_predict(X)

    # The silhouette_score gives the average value for all the samples.
    # This gives a perspective into the density and separation of the formed
    # clusters
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

    # Compute the silhouette scores for each sample
    sample_silhouette_values = silhouette_samples(X, cluster_labels)

    y_lower = 10
    for i in range(n_clusters):
        # Aggregate the silhouette scores for samples belonging to
        # cluster i, and sort them
        ith_cluster_silhouette_values = \
            sample_silhouette_values[cluster_labels == i]

        ith_cluster_silhouette_values.sort()

        size_cluster_i = ith_cluster_silhouette_values.shape[0]
        y_upper = y_lower + size_cluster_i

        color = cm.spectral(float(i) / n_clusters)
        ax1.fill_betweenx(np.arange(y_lower, y_upper),
                          0, ith_cluster_silhouette_values,
                          facecolor=color, edgecolor=color, alpha=0.7)

        # Label the silhouette plots with their cluster numbers at the middle
        ax1.text(-0.05, y_lower + 0.5 * size_cluster_i, str(i))

        # Compute the new y_lower for next plot
        y_lower = y_upper + 10  # 10 for the 0 samples

    ax1.set_title("The silhouette plot for the various clusters.")
    ax1.set_xlabel("The silhouette coefficient values")
    ax1.set_ylabel("Cluster label")

    # The vertical line for average silhoutte score of all the values
    ax1.axvline(x=silhouette_avg, color="red", linestyle="--")

    ax1.set_yticks([])  # Clear the yaxis labels / ticks
    ax1.set_xticks([-0.1, 0, 0.2, 0.4, 0.6, 0.8, 1])

    # 2nd Plot showing the actual clusters formed
    colors = cm.spectral(cluster_labels.astype(float) / n_clusters)
    ax2.scatter(X[:, 0], X[:, 1], marker='.', s=30, lw=0, alpha=0.7,
                c=colors)

    # Labeling the clusters
    centers = clusterer.cluster_centers_
    # Draw white circles at cluster centers
    ax2.scatter(centers[:, 0], centers[:, 1],
                marker='o', c="white", alpha=1, s=200)

    for i, c in enumerate(centers):
        ax2.scatter(c[0], c[1], marker='$%d$' % i, alpha=1, s=50)

    ax2.set_title("The visualization of the clustered data.")
    ax2.set_xlabel("Feature space for the 1st feature")
    ax2.set_ylabel("Feature space for the 2nd feature")

    plt.suptitle(("Silhouette analysis for KMeans clustering on sample data "
                  "with n_clusters = %d" % n_clusters),
                 fontsize=14, fontweight='bold')

    plt.show()

('For n_clusters =', 2, 'The average silhouette_score is :', 0.98313996385937941)
('For n_clusters =', 2, 'The average silhouette_score is :', 0.96011425323802946)
('For n_clusters =', 2, 'The average silhouette_score is :', 0.8586693682941795)
('For n_clusters =', 2, 'The average silhouette_score is :', 0.82807434531808644)
('For n_clusters =', 2, 'The average silhouette_score is :', 0.81631732980262717)