In [1]:
import numpy as np
import pandas as pd
import datetime
import time

In [2]:
loc = 'C:\Users\Thosan Girisona S\Downloads\DataMining\Electricity Load\Electricity Load\LD2011_2014.txt'
%time data = pd.read_csv(loc,delimiter=';',header=0,decimal=',',low_memory=False)

Wall time: 1min 9s

In [3]:
data.index = pd.to_datetime(data.pop('Waktu'))
data.head()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
Waktu,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
holidays = ['2011-01-01','2011-04-25', '2011-05-01','2011-06-01','2011-06-10','2011-07-15','2011-08-15','2011-12-08','2011-12-25']
holidays.extend(['2012-01-01','2012-04-25', '2012-05-01','2012-06-01','2012-06-10','2012-07-15','2012-08-15','2012-12-08','2012-12-25'])
holidays.extend(['2013-01-01','2013-04-25', '2013-05-01','2013-06-01','2013-06-10','2013-07-15','2013-08-15','2013-12-08','2013-12-25'])
holidays.extend(['2014-01-01','2014-04-25', '2014-05-01','2014-06-01','2014-06-10','2014-07-15','2014-08-15','2014-12-08','2014-12-25'])

cal_portu = pd.to_datetime(holidays)
print data['MT_001'].index[0] in (cal_portu)
#days_portu = cal_portu.holidays(start='2011-01-01', end='2015-01-01')

False

In [6]:
def format_jam23(tanggal, tanggal2):
    #resample yang 23 Jam
    #(total/92*96 - total)/4
    #jadiin fungsi parameter tanggal

    t1 = pd.to_datetime(tanggal)
    t2 = pd.to_datetime(tanggal2)

    cek23Jam = data[(t1 <= data.index) & (t2 > data.index)].ix[:,3:370]
    cek23JamTot = cek23Jam.resample('D',how=['sum'])
    cek23Jam = cek23JamTot/92*96
    cek23Jam = cek23Jam-cek23JamTot
    cek23Jam = cek23Jam/4

    ganti23jam = cek23Jam
    ganti23jam.columns = ganti23jam.columns.droplevel(1)
    ganti23jam = ganti23jam.ix[0]

    t1 = pd.to_datetime(tanggal + ' 01:00:00')
    t2 = pd.to_datetime(tanggal + ' 01:15:00')
    t3 = pd.to_datetime(tanggal + ' 01:30:00')
    t4 = pd.to_datetime(tanggal + ' 01:45:00')
    
    data.loc[t1,'MT_004':'MT_370'] = ganti23jam
    data.loc[t2,'MT_004':'MT_370'] = ganti23jam
    data.loc[t3,'MT_004':'MT_370'] = ganti23jam
    data.loc[t4,'MT_004':'MT_370'] = ganti23jam

def format_jam25(tanggal, tanggal2):
    #resample yang 23 Jam
    #(total - total/100*96)/4
    #jadiin fungsi parameter tanggal

    t1 = pd.to_datetime(tanggal)
    t2 = pd.to_datetime(tanggal2)

    cek25Jam = data[(t1 <= data.index) & (t2 > data.index)].ix[:,3:370]
    cek25JamTot = cek25Jam.resample('D',how=['sum'])
    cek25Jam = cek25JamTot/100*96
    cek25Jam = cek25JamTot-cek25Jam
    cek25Jam = cek25Jam/4

    ganti25jam = cek25Jam
    ganti25jam.columns = ganti25jam.columns.droplevel(1)
    ganti25jam = ganti25jam.ix[0]

    t1 = pd.to_datetime(tanggal + ' 01:00:00')
    t2 = pd.to_datetime(tanggal + ' 01:15:00')
    t3 = pd.to_datetime(tanggal + ' 01:30:00')
    t4 = pd.to_datetime(tanggal + ' 01:45:00')
    
    data.loc[t1,'MT_004':'MT_370'] = ganti25jam
    data.loc[t2,'MT_004':'MT_370'] = ganti25jam
    data.loc[t3,'MT_004':'MT_370'] = ganti25jam
    data.loc[t4,'MT_004':'MT_370'] = ganti25jam

In [7]:
#23jam(27,25,31,30) Maret
format_jam23('2011-03-27', '2011-03-28')
format_jam23('2012-03-25', '2012-03-26')
format_jam23('2013-03-31', '2013-04-01')
format_jam23('2014-03-30', '2014-03-31')

#25jam(30,28,27,26) Oktober
format_jam25('2011-10-30', '2011-11-01')
format_jam25('2012-10-28', '2012-10-29')
format_jam25('2013-10-27', '2013-10-28')
format_jam25('2014-10-26', '2014-10-27')

In [8]:
start_time = time.time()
langganan = pd.Series()

for i in data.columns:
    for j in range(0,len(data[i])-1):
        if(data[i][j] > 0):
            langganan[i]=data[i].index[j]
            break
        else:
            continue
print("--- %s seconds ---" % (time.time() - start_time))

--- 230.393999815 seconds ---

In [9]:
langganan.sort()
langganan.tail()

MT_109   2014-02-18 00:15:00
MT_116   2014-02-18 00:15:00
MT_181   2014-03-05 00:15:00
MT_133   2014-03-13 16:15:00
MT_178   2014-07-18 00:15:00
dtype: datetime64[ns]

In [10]:
#resample pelanggan
start_time = time.time()
mthWeekendPagi = pd.DataFrame()
mthWeekendMlm  = pd.DataFrame()
mthWeekdayPagi = pd.DataFrame()
mthWeekdayMlm  = pd.DataFrame()

dataKhusus = pd.DataFrame(columns=['mean','std','qrt1','qrt3','itQ','bukanOutlier'],index=data.columns)
dataRata = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataSkew = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataKurt = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)
dataStd = pd.DataFrame(columns=['Weekend-Pagi','Weekend-Malam','Weekday-pagi','Weekday-Malam'],index=data.columns)

for i in data.columns:
    mth  = pd.DataFrame()
    mth  = data[i][data.index >= langganan[i]]
    mth  = mth.resample('H',how = ['sum'])
    
    mthWeekendPagi = mth['sum'][(mth.index.weekday >= 5) & (mth.index.weekday <= 6)].between_time(datetime.time(7,0),datetime.time(20,0))
    mthWeekendMlm  = mth['sum'][(mth.index.weekday >= 5) & (mth.index.weekday <= 6)].between_time(datetime.time(20,0),datetime.time(7,0))
    mthWeekdayPagi = mth['sum'][(mth.index.weekday >= 0) & (mth.index.weekday <= 4)].between_time(datetime.time(7,0),datetime.time(20,0))
    mthWeekdayMlm  = mth['sum'][(mth.index.weekday >= 0) & (mth.index.weekday <= 4)].between_time(datetime.time(20,0),datetime.time(7,0))

    dataRata['Weekend-Pagi'][i]  = mthWeekendPagi.mean()
    dataRata['Weekend-Malam'][i] = mthWeekendMlm.mean()
    dataRata['Weekday-pagi'][i]  = mthWeekdayPagi.mean()
    dataRata['Weekday-Malam'][i] = mthWeekdayMlm.mean()

    dataSkew['Weekend-Pagi'][i]  = mthWeekendPagi.skew()
    dataSkew['Weekend-Malam'][i] = mthWeekendMlm.skew()
    dataSkew['Weekday-pagi'][i]  = mthWeekdayPagi.skew()
    dataSkew['Weekday-Malam'][i] = mthWeekdayMlm.skew()

    dataKurt['Weekend-Pagi'][i]  = mthWeekendPagi.kurtosis()
    dataKurt['Weekend-Malam'][i] = mthWeekendMlm.kurtosis()
    dataKurt['Weekday-pagi'][i]  = mthWeekdayPagi.kurtosis()
    dataKurt['Weekday-Malam'][i] = mthWeekdayMlm.kurtosis()
    
    dataStd['Weekend-Pagi'][i]  = mthWeekendPagi.var()**(.5)
    dataStd['Weekend-Malam'][i] = mthWeekendMlm.var()**(.5)
    dataStd['Weekday-pagi'][i]  = mthWeekdayPagi.var()**(.5)
    dataStd['Weekday-Malam'][i] = mthWeekdayMlm.var()**(.5)
    
    dataKhusus['mean'][i]  = mth['sum'].mean()
    dataKhusus['std'][i]  = mth['sum'].var()
    dataKhusus['qrt1'][i] = mth['sum'].quantile(0.25)
    dataKhusus['qrt3'][i] = mth['sum'].quantile(0.75)
    dataKhusus['itQ'][i]  = dataKhusus['qrt3'][i] - dataKhusus['qrt1'][i]
    
    btBwah = dataKhusus['qrt1'][i] - (1.5*dataKhusus['itQ'][i])
    btAtas = dataKhusus['qrt3'][i] + (1.5*dataKhusus['itQ'][i])
    totalData = len(mth['sum'])
    bukanOutlier = len(mth['sum'][ (mth['sum']>=btBwah) & (mth['sum']<=btAtas) ])
    
    dataKhusus['bukanOutlier'][i] = float(bukanOutlier)/float(totalData)
    
print("--- %s seconds ---" % (time.time() - start_time))

--- 57.7679998875 seconds ---

In [11]:
listAntiOutlier = dataKhusus[dataKhusus['bukanOutlier'] >= 0.95].index

dataRata = dataRata[dataRata.index.isin(listAntiOutlier)]
dataSkew = dataSkew[dataSkew.index.isin(listAntiOutlier)]
dataKurt = dataKurt[dataKurt.index.isin(listAntiOutlier)]
dataKhusus = dataKhusus[dataKhusus.index.isin(listAntiOutlier)]
dataStd = dataStd[dataStd.index.isin(listAntiOutlier)]
langganan = langganan[langganan.index.isin(listAntiOutlier)]

In [12]:
dataKhusus.sort('std').tail()

            mean           std      qrt1      qrt3       itQ bukanOutlier
MT_364  15678.42  9.480005e+07  6454.545  24704.55     18250            1
MT_279  48157.69  1.442935e+08  38026.67  57326.67     19300     0.999287
MT_370  69825.18  2.566486e+08  61124.32  80810.81  19686.49     0.973175
MT_196  82982.19  8.375025e+08  60958.33    100750  39791.67    0.9901041
MT_362  200536.9  2.132813e+10     69400    267700    198300    0.9873788

In [13]:
import matplotlib.pyplot as plt
ax1 = plt.subplot(2,1,1)
dataRata['Weekend-Pagi'].plot()
dataRata['Weekend-Malam'].plot()
dataRata['Weekday-pagi'].plot()
dataRata['Weekday-Malam'].plot()

ax2 = plt.subplot(2,1,2,sharex=ax1)
dataKhusus['std'].plot()
plt.legend()
plt.show()

In [14]:
plot1 = data['MT_362'].resample('D',how = ['mean'])
plot2 = data['MT_001'].resample('D',how = ['mean'])

ax1 = plt.subplot(2,1,1)
plot1['mean'].plot()
plt.legend()

ax2 = plt.subplot(2,1,2,sharex=ax1)
plot2['mean'].plot()
plt.legend()

plt.show()

In [15]:
plot1 = data['MT_364']['2012'].resample('D',how = ['mean'])
plot1.index = range(0,len(plot1.index))
plot2 = data['MT_364']['2013'].resample('D',how = ['mean'])
plot2.index = range(0,len(plot2.index))
plot3 = data['MT_364']['2014'].resample('D',how = ['mean'])
plot3.index = range(0,len(plot3.index))

ax1 = plt.subplot(1,1,1)
plot1['mean'].plot()
plot2['mean'].plot()
plot3['mean'].plot()

plt.legend()
plt.show()

In [16]:
frames = [dataRata, dataSkew, dataKurt, dataStd]
dataClean = pd.concat(frames, keys=['Rata', 'Skew', 'Kurt','Std'])
dataClean = dataClean.unstack(level=0)
dataClean.head()

       Weekend-Pagi                                 Weekend-Malam             \
               Rata       Skew       Kurt       Std          Rata       Skew
MT_002     124.1567  -0.242466  0.9481916  22.22366      99.85654  0.9145725
MT_004     477.1488   1.096256     1.2528  145.5208      441.1162  0.8435581
MT_005     181.8164  0.9587032  0.7516072  66.89315      202.2523    0.62542
MT_006     784.0734  0.8135968   0.830197  229.8484      671.3303   1.254518
MT_008     1049.619  0.4369826  0.1385797   217.886       933.219  0.8528526

                             Weekday-pagi                                 \
              Kurt       Std         Rata       Skew      Kurt       Std
MT_002    2.214664  22.02747     119.9964 -0.3453535  2.026254  23.00347
MT_004   0.2791051   161.702     427.6438   1.882952  3.654291  150.2328
MT_005  0.02662303  69.91622     196.2766   1.230563  1.775504  70.29184
MT_006    1.219254  254.1435     823.2588   1.732693  3.895053  220.5465
MT_008   0.4946074  210.2546     1121.495  0.6981345  1.016441  209.3208

       Weekday-Malam
                Rata       Skew        Kurt       Std
MT_002      102.3256  0.3052408    1.298272  26.72081
MT_004      448.6385   1.018353   0.5736562  171.7097
MT_005      211.6283  0.6638265  0.07264046   73.8792
MT_006      710.1826   1.222293    1.028607   296.176
MT_008      934.1319  0.9240994   0.2288969  242.5345

In [17]:
import sklearn
from scipy.spatial.distance import cdist,pdist
from sklearn.cluster import KMeans

In [18]:
hpc = dataClean.values
kmeans = KMeans(n_clusters=3)
dataCluster = kmeans.fit_predict(hpc)
dataCluster

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 2])

In [19]:
#menentukan explained varians , makin besar maik baik
k_range = range(1,10)
k_means_var = [KMeans(n_clusters=k).fit(hpc) for k in k_range]
centro = [X.cluster_centers_ for X in k_means_var]
k_euclid = [cdist(hpc,cent,'euclidean') for cent in centro]
dist = [np.min(ke,axis=1) for ke in k_euclid]
wcss = [sum(d**2) for d in dist]
tss = sum(pdist(hpc)**2)/hpc.shape[0]
bss = tss - wcss

pp = pd.Series(100*bss/tss)
          
ax1 = plt.subplot(1,1,1)
pp.plot()

for i,j in zip(pp.index,pp):
    ax1.annotate(str(j),xy=(i,j))
plt.scatter(pp.index,pp)
plt.grid()
plt.legend()
plt.show()

In [20]:
dataClean['Cluster'] = dataCluster
dataCluster1 = dataClean[dataClean['Cluster']==0].index.values
dataCluster2 = dataClean[dataClean['Cluster']==1].index.values
dataCluster3 = dataClean[dataClean['Cluster']==2].index.values

print(('Jumlah Didalam Kluster 1,2,3 = {0} {1} {2}').format(len(dataCluster1),len(dataCluster2),len(dataCluster3)))

Jumlah Didalam Kluster 1,2,3 = 344 1 3

In [21]:
#pemecahan cluster pertama(index=0)
#lihat dari grafik

#menentukan explained varians , makin besar maik baik
hpc = dataClean[dataClean['Cluster']==0].values

k_range = range(1,10)
k_means_var = [KMeans(n_clusters=k).fit(hpc) for k in k_range]
centro = [X.cluster_centers_ for X in k_means_var]
k_euclid = [cdist(hpc,cent,'euclidean') for cent in centro]
dist = [np.min(ke,axis=1) for ke in k_euclid]
wcss = [sum(d**2) for d in dist]
tss = sum(pdist(hpc)**2)/hpc.shape[0]
bss = tss - wcss

pp = pd.Series(100*bss/tss)
          
ax1 = plt.subplot(1,1,1)
pp.plot()

for i,j in zip(pp.index,pp):
    ax1.annotate(str(j),xy=(i,j))
plt.scatter(pp.index,pp)
plt.grid()
plt.legend()
plt.show()

#dari grafik, yang diatas 90 mulai dari 4(index=3) cluster, artinya kita pecah jadi 4, 
#so total_cluster = 2(yang cuma 1 dan 3) + 4(yang baru)

In [22]:
#pemecahan jadi 4 cluster
kmeans = KMeans(n_clusters=4)
dataCluster = kmeans.fit_predict(hpc)

cluster0 = len(dataCluster[dataCluster==0])
cluster1 = len(dataCluster[dataCluster==1])
cluster2 = len(dataCluster[dataCluster==2])
cluster3 = len(dataCluster[dataCluster==3])

print(('Jumlah Didalam Kluster 1,2,3,4 yang dari 0 = {0} {1} {2} {3}').format(cluster0,cluster1,cluster2,cluster3))

Jumlah Didalam Kluster 1,2,3,4 yang dari 0 = 274 17 3 50

In [23]:
#karena index sebelumnya udah ada 1 ama 2, kita ubah index 0,1,2,3 jadi 3,4,5,6 atau ditambah 3
dataCluster = dataCluster+3
dataClean.loc[dataClean[dataClean['Cluster']==0].index,('Cluster')] = dataCluster
dataClean['TglMulai'] = langganan
dataClean.head()

       Weekend-Pagi                                 Weekend-Malam             \
               Rata       Skew       Kurt       Std          Rata       Skew
MT_002     124.1567  -0.242466  0.9481916  22.22366      99.85654  0.9145725
MT_004     477.1488   1.096256     1.2528  145.5208      441.1162  0.8435581
MT_005     181.8164  0.9587032  0.7516072  66.89315      202.2523    0.62542
MT_006     784.0734  0.8135968   0.830197  229.8484      671.3303   1.254518
MT_008     1049.619  0.4369826  0.1385797   217.886       933.219  0.8528526

                             Weekday-pagi                                 \
              Kurt       Std         Rata       Skew      Kurt       Std
MT_002    2.214664  22.02747     119.9964 -0.3453535  2.026254  23.00347
MT_004   0.2791051   161.702     427.6438   1.882952  3.654291  150.2328
MT_005  0.02662303  69.91622     196.2766   1.230563  1.775504  70.29184
MT_006    1.219254  254.1435     823.2588   1.732693  3.895053  220.5465
MT_008   0.4946074  210.2546     1121.495  0.6981345  1.016441  209.3208

       Weekday-Malam                                  Cluster  \
                Rata       Skew        Kurt       Std
MT_002      102.3256  0.3052408    1.298272  26.72081       3
MT_004      448.6385   1.018353   0.5736562  171.7097       3
MT_005      211.6283  0.6638265  0.07264046   73.8792       3
MT_006      710.1826   1.222293    1.028607   296.176       3
MT_008      934.1319  0.9240994   0.2288969  242.5345       3

                  TglMulai

MT_002 2012-01-01 00:15:00
MT_004 2012-01-01 00:15:00
MT_005 2012-01-01 00:15:00
MT_006 2012-01-01 00:15:00
MT_008 2012-01-01 00:15:00

In [24]:
dataCluster1 = pd.DataFrame()
dataCluster2 = pd.DataFrame()
dataCluster3 = pd.DataFrame()
dataCluster4 = pd.DataFrame()
dataCluster5 = pd.DataFrame()
dataCluster6 = pd.DataFrame()

dataCluster1['Tgl'] = dataClean[dataClean['Cluster']==1]['TglMulai']
dataCluster2['Tgl'] = dataClean[dataClean['Cluster']==2]['TglMulai']
dataCluster3['Tgl'] = dataClean[dataClean['Cluster']==3]['TglMulai']
dataCluster4['Tgl'] = dataClean[dataClean['Cluster']==4]['TglMulai']
dataCluster5['Tgl'] = dataClean[dataClean['Cluster']==5]['TglMulai']
dataCluster6['Tgl'] = dataClean[dataClean['Cluster']==6]['TglMulai']

dataCluster3['Tgl'].head()

MT_002   2012-01-01 00:15:00
MT_004   2012-01-01 00:15:00
MT_005   2012-01-01 00:15:00
MT_006   2012-01-01 00:15:00
MT_008   2012-01-01 00:15:00
Name: Tgl, dtype: datetime64[ns]

In [104]:
dataAnalisis = data.resample('H',how=['sum'])
dataAnalisis = dataAnalisis.resample('D',how=['mean'])

dataAnalisis.columns = dataAnalisis.columns.droplevel(1)
dataAnalisis.columns = dataAnalisis.columns.droplevel(1)

analisisHarian  = dataAnalisis
analisisWeekday = dataAnalisis[(dataAnalisis.index.weekday >= 0) & (dataAnalisis.index.weekday <= 4)]
analisisWeekend = dataAnalisis[(dataAnalisis.index.weekday >= 5) & (dataAnalisis.index.weekday <= 6)]

analisisWeekday.tail()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
Waktu,,,,,,,,,,,,,,,,,,,,,
2014-12-26,8.883249,90.564248,6.733275,578.252033,290.802846,927.951389,19.408329,1228.535354,265.005828,216.980287,...,1161.105163,127591.666667,8798.171589,11133.522727,334.365493,45.201872,2245.976002,520.728993,3196.786413,49644.144144
2014-12-29,10.363790,92.194168,6.697075,586.128049,299.949187,951.016865,22.941398,1261.924804,279.064685,264.068100,...,1201.046871,129545.833333,8618.846695,11212.121212,351.586267,48.078799,2247.036874,538.119087,3078.445748,75270.270270
2014-12-30,9.676396,91.897819,6.878077,595.443767,299.542683,995.039683,24.448841,1287.878788,270.323427,270.385305,...,1187.009279,121012.500000,8505.274262,10983.901515,442.307692,37.180612,2347.270998,666.527546,3081.256109,77815.315315
2014-12-31,9.570643,94.713134,6.950478,583.587398,292.632114,979.662698,28.782740,1195.847363,258.814103,209.767025,...,1123.780633,114533.333333,6773.206751,8995.265152,308.996089,22.088941,2094.161545,551.892042,2934.017595,56912.162162
2015-01-01,2.538071,19.914651,1.737619,178.861789,84.146341,279.761905,10.175240,249.158249,62.937063,69.892473,...,188.436831,27800.000000,1409.282700,954.545455,27.379400,4.095963,628.621598,131.886477,673.020528,7135.135135

In [108]:
def cekAllday(operan,id):
    start_time = time.time()
    judul = 'ClusterAl'+str(id)
    dataAnalisis[judul] = 0
    st = min(operan['Tgl']).date()

    for st in dataAnalisis.index.values:
        jumlah = 0;
        count = 0;
        for usr in operan.index.values:
            if (operan['Tgl'][usr]<=st):
                jumlah = jumlah+dataAnalisis[usr][st]
                count = count+1
        if (count):
            dataAnalisis[judul][st] = float(jumlah)/float(count)
    print("CekAllday "+judul+("--- %s seconds ---" % (time.time() - start_time)))

def cekWeekday(operan,id):
    start_time = time.time()
    judul = 'ClusterWd'+str(id)
    analisisWeekday[judul] = 0
    st = min(operan['Tgl']).date()

    for st in analisisWeekday.index.values:
        jumlah = 0;
        count = 0;
        for usr in operan.index.values:
            if (operan['Tgl'][usr]<=st):
                jumlah = jumlah+dataAnalisis[usr][st]
                count = count+1
        if (count):
            analisisWeekday.loc[st,judul] = float(jumlah)/float(count)
    print("CekWeekday "+judul+("--- %s seconds ---" % (time.time() - start_time)))
    
def cekWeekend(operan,id):
    start_time = time.time()
    judul = 'ClusterWn'+str(id)
    analisisWeekend[judul] = 0
    st = min(operan['Tgl']).date()

    for st in analisisWeekend.index.values:
        jumlah = 0;
        count = 0;
        for usr in operan.index.values:
            if (operan['Tgl'][usr]<=st):
                jumlah = jumlah+dataAnalisis[usr][st]
                count = count+1
        if (count):
            analisisWeekend.loc[st,judul] = float(jumlah)/float(count)
    print("CekWeekend "+judul+("--- %s seconds ---" % (time.time() - start_time)))

In [109]:
#Karena oji mintanya harian, pake cekAllday , kalo weekday bisa pake cekweekday, kalo weekend pake cekweekend
#cekAllday(dataCluster1,1)
#cekAllday(dataCluster2,2)
#cekAllday(dataCluster3,3)
#cekAllday(dataCluster4,4)
#cekAllday(dataCluster5,5)
#cekAllday(dataCluster6,6)

cekWeekend(dataCluster1,1)
cekWeekend(dataCluster2,2)
cekWeekend(dataCluster3,3)
cekWeekend(dataCluster4,4)
cekWeekend(dataCluster5,5)
cekWeekend(dataCluster6,6)

cekWeekday(dataCluster1,1)
cekWeekday(dataCluster2,2)
cekWeekday(dataCluster3,3)
cekWeekday(dataCluster4,4)
cekWeekday(dataCluster5,5)
cekWeekday(dataCluster6,6)

C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\ipykernel\__main__.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\pandas\core\indexing.py:415: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

CekWeekend ClusterWn1--- 16.0130000114 seconds ---
CekWeekend ClusterWn2--- 22.1540000439 seconds ---
CekWeekend ClusterWn3--- 24.8960001469 seconds ---
CekWeekend ClusterWn4--- 21.375 seconds ---
CekWeekend ClusterWn5--- 21.632999897 seconds ---
CekWeekend ClusterWn6--- 43.6770000458 seconds ---

C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\pandas\core\indexing.py:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\ipykernel\__main__.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\ipykernel\__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CekWeekday ClusterWd1--- 40.1510000229 seconds ---
CekWeekday ClusterWd2--- 53.5339999199 seconds ---
CekWeekday ClusterWd3--- 60.8180000782 seconds ---
CekWeekday ClusterWd4--- 54.5840001106 seconds ---
CekWeekday ClusterWd5--- 52.9659998417 seconds ---
CekWeekday ClusterWd6--- 107.45600009 seconds ---

C:\Users\Thosan Girisona S\Anaconda\lib\site-packages\ipykernel\__main__.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [138]:
loc = 'C:\Users\Thosan Girisona S\Downloads\DataMining\Electricity Load\Electricity Load'

analisisHarian.to_csv(loc+'\HarianFull.csv')
analisisWeekend.to_csv(loc+'\WeekendFull.csv')
analisisWeekday.to_csv(loc+'\WeekdayFull.csv')

analisisHarian.ix[:,len(analisisHarian.columns)-6:len(analisisHarian.columns)].to_csv(loc+'\HarianCluster.csv')
analisisWeekend.ix[:,len(analisisWeekend.columns)-6:len(analisisWeekend.columns)].to_csv(loc+'\WeekendCluster.csv')
analisisWeekday.ix[:,len(analisisWeekday.columns)-6:len(analisisWeekday.columns)].to_csv(loc+'\WeekdayCluster.csv')